Django==1.8.18
amqp==1.4.9
anyjson==0.3.3
autopep8==1.2.4
billiard==3.3.0.23
django-admin-bootstrapped==2.5.7
django-adminplus==0.5
django-bootstrap3==8.2.3
django-filter==1.0.4
django-utils==0.0.2
djangorestframework==3.6.3
kombu==3.0.37
lizard==1.12.2
numpy==1.12.1
pep8==1.7.0
pyrser==0.0.5
pytz==2017.2
qtgui==0.0.1
redis==2.10.3
requests==2.14.2
